
<app-navigacija></app-navigacija>


<div type="button" class="list-group-item list-group-item-action active mt-3">
  Pacijent Petar Perić
</div>
<div class="list-group col-md-4 offset-md-4 mt-3" >
  <button type="button" class="list-group-item list-group-item-action active">
  Odaberite odeljenje:
  </button>
  <select class="custom-select" size="5">
    <option value="1">Hururgija</option>
    <option value="2">Ortopedija</option>
    <option value="3">Neurologija</option>
    <option value="3">Urologija</option>
    <option value="3">Pulmologija</option>
    <option value="3">ORL</option>
    <option value="3">Oftalmologija</option>
    <option value="3">Interno</option>
    
  </select>

  <a routerLink="../lista-pacijenata" class="link">
   <button type="button"  class="btn btn-secondary mt-3">
    Potvrdi premeštaj
   </button>
  </a>
</div>