

<app-navigacija></app-navigacija>

<div class="container-fluid col-md-4 offset-md-4 mt-3">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Ime</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Unesite ime">
     
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Prezime</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Unesite prezime">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Godište</label>
      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Unesite godište">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Matični broj</label>
      <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Unesite matični broj">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Dijagnoza</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Unesite dijagnozu">
    </div>
    <a  routerLink="../lista-pacijenata" routerLinkActive=" active ac"><button type="submit" class="btn btn-primary">Kreiraj pacijenta</button></a>
    
  </form>
  </div>
  