

<app-navigacija></app-navigacija>



<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Lista pacijenata
  </a>
  <a routerLink="../pacijent-o" class="list-group-item list-group-item-action">Petar Peric <button class="dugme">Ukloni pacijenta</button> <a routerLink="../premestipacijenta" class="link"><button class="dugme">Premesti pacijenta</button></a></a>
  <a href="#" class="list-group-item list-group-item-action">Sima Simi <button class="dugme">Ukloni pacijenta</button> <a routerLink="../pacijent-opu" class="link"></a><button class="dugme">Premesti pacijenta</button></a>
  <a href="#" class="list-group-item list-group-item-action">Janko Jankovic <button class="dugme">Ukloni pacijenta</button><button class="dugme">Premesti pacijenta</button></a>
  <a href="#" class="list-group-item list-group-item-action disabled">Zika Zikic <button class="dugme">Ukloni pacijenta</button><button class="dugme">Premesti pacijenta</button></a>
</div>